.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-right: 150px;
    padding-left: 150px;
}

p {
    font-family: 'bubbleboddy_neue';
    font-size: 1.5em;
    text-align: center;
    
}

strong {
    font-weight: normal;
}