@media screen and (max-width: 767px) { 

}

@media screen and (min-width: 768px) {   
     
} 

@media (min-width: 1200px) {    
    .nav_logo {
        height: 90%;
        width: 90%;
    }
}

.nav {
    background-color: #DA001E;
    color: #151217 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}

.menu {
    display: flex;
    justify-content: end;
    justify-content: space-between;
    padding-right: 20px;
    width: 20%;
}

a {
    text-decoration: none;
    color:#151217;
}

