<main>
    <h1>Au Petit Village</h1>
    
    <div class="presentation"> 
        <P>“Au petit village” est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.</P>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Recherche">
        <button></button>
    </div>

    <div class="products">
        <div class="products1">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="products2">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="products3">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="products4">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="products5">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="products6">
            <img src="" alt="Photo d'une figurine">
        </div>
    </div>

</main>
