main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'bubbleboddy_neue';
    text-align: center;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 3.5em;
    color: #DA001E;
}

.presentation {
    font-size: 1.5em;
    padding-bottom: 50px;
}

strong {
    font-weight: normal;
}

img {
    width: 300px;
    height: 300px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 60%;
    padding: 20px;
}

.filter-bar {
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:#FDD90B;
    gap: 20px;
    padding: 15px;
}

.sort-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.search-bar_sort {
    font-family: 'bubbleboddy_neue';
}

button {
    font-family: 'bubbleboddy_neue';
    border-radius: 5px;
    background-color: #DA001E;
    border-color: #FDD90B;
    color: #FDD90B;
}


@media (max-width: 769px) {
    .presentation {
        width: 400px;
    }
}

@media (min-width: 770px) {
    .presentation {
        width: 600px;
    }
}
@media (min-width: 1200px) {
    .presentation {
        width: 1000px;
    }
}