<main>
    <h1>Au Petit Village</h1>
    
    <div class="presentation"> 
        <P>“Au petit village” est une entreprise qui confectionne des <strong>figurines</strong> inspirées de la bande dessinée <strong>Astérix et Obélix</strong>.</P>
    </div>

    <div class="search-bar">
        <input type="text" placeholder="Recherche">
        <button></button>
    </div>

    <div class="products">
        <div class="product1">
            <a routerLink="">
                <img src="./figurine-asterix-embleme.jpg" alt="Photo de la figurine amblématique d'Astérix">
            </a>
        </div>
        <div class="product2">
            <a routerLink="">
                <img src="./figurine-obelix-et-idefix-asterix-et-cleopatre.webp" alt="Photo d'une figurine d'Obélix et Idéfix">
            </a>
        </div>
        <div class="product3">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="product4">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="product5">
            <img src="" alt="Photo d'une figurine">
        </div>
        <div class="product6">
            <img src="" alt="Photo d'une figurine">
        </div>
    </div>

</main>
