main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'bubbleboddy_neue';
    text-align: center;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 3.5em;
    color: #DA001E;
}

.presentation {
    font-size: 1.5em;
}

strong {
    font-weight: normal;
}

img {
    width: 300px;
    height: 300px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 60%;
    padding: 20px;
}