@font-face {
    font-family: 'Bubbleboddy Neue Trial';
    src: url('BubbleboddyNeueTrial-Regular.woff2') format('woff2'),
        url('BubbleboddyNeueTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bubbleboddy Neue Trial';
    src: url('BubbleboddyNeueTrial-Bold.woff2') format('woff2'),
        url('BubbleboddyNeueTrial-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bubbleboddy Neue Trial';
    src: url('BubbleboddyNeueTrial-Thin.woff2') format('woff2'),
        url('BubbleboddyNeueTrial-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bubbleboddy Neue Trial';
    src: url('BubbleboddyNeueTrial-Light.woff2') format('woff2'),
        url('BubbleboddyNeueTrial-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bubbleboddy Neue Trial';
    src: url('BubbleboddyNeueTrial-ExtraBold.woff2') format('woff2'),
        url('BubbleboddyNeueTrial-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

