@font-face {
    font-family: 'bubbleboddy_neue';
    src: url('font/bubbleboddy_neue/bubbleboddyneue-regular trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('font/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Comfortaa';
    font-size: 3.5em;
    color: #DA001E;
}
